@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: blue;
    width: 15vw;
    font-family: 'Proza Libre', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 45px;

}

.sidebar nav li {
    list-style: none;
    font-size: 18px;
    padding: 25px;

}

.main {
    background-color: aquamarine;
    width: 90vw;
}

.container {
    display: flex;
}

.infocontainer {
    background-color: red;
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devPic img{
    width: 381px;
}